<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Madlibs insert form!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Choose your words!</h1>
    <form action="/Madform" method="post">
     <label for="noun">Noun:</label>
     <input id="noun" name="noun" type="text">
     <!-- <label for="recipient">Recipient's Name</label>
     <input id="recipient" name="recipient" type="text"> -->
     <button type="submit">Go!</button>
    </form>
  </body>
</html>