<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <p>LINKS TO TYPES OF MADLIBS</p>
    <a href="/zooform">MadZoo.</a>
  </body>
</html>